﻿@model IEnumerable<Viajaconmigo.Models.Trabajadores>

@{
    ViewBag.Title = "Index";
}

<link href="~/Scripts/style.css" rel="stylesheet" />
<link href="~/Scripts/estilo.css" rel="stylesheet" />
<div id="contenedordml">
    <div id="cabecera">
        <img src="~/Images/Logo.jpg" height="100%" width="100%" />
    </div>
    <div id="cuerpo">
        <div id="menu">
            <ul id="button">
                <li> @Html.ActionLink("Inicio", "InicioAdministrador", "Home") </li>
            </ul>
        </div>
        <br></br>

        <div id="consulteconductores">

            <h1>USUARIO</h1>
            <br>
            
            <p id="creates">
                <button>
                    @Html.ActionLink("Agregar Usuario", "Create")
                </button>
            </p>
            <br>
            <table class="table" id="tabladml">
                <tr>
                    <th id="tabladml1">
                        @Html.DisplayNameFor(model => model.Cedula)
                    </th>
                    <th id="tabladml1">
                        @Html.DisplayNameFor(model => model.Nombre)
                    </th>
                    <th id="tabladml1">
                        @Html.DisplayNameFor(model => model.Apellido)
                    </th>
                    <th id="tabladml1">
                        @Html.DisplayNameFor(model => model.Telefono)
                    </th>
                    <th id="tabladml1">
                        @Html.DisplayNameFor(model => model.Direccion)
                    </th>
                    <th id="tabladml1">
                        @Html.DisplayNameFor(model => model.Tipo)
                    </th>
                    <th id="tabladml1">
                        @Html.DisplayNameFor(model => model.Correo)
                    </th>
                    <th id="tabladml1">
                        @Html.DisplayNameFor(model => model.Password)
                    </th>
                    <th id="tabladml1">
                        @Html.DisplayNameFor(model => model.Empresa.Nombre)
                    </th>
                    <th id="tabladml1"> </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td id="tabladml2">
                            @Html.DisplayFor(modelItem => item.Cedula)
                        </td>
                        <td id="tabladml2">
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td id="tabladml2">
                            @Html.DisplayFor(modelItem => item.Apellido)
                        </td>
                        <td id="tabladml2">
                            @Html.DisplayFor(modelItem => item.Telefono)
                        </td>
                        <td id="tabladml2">
                            @Html.DisplayFor(modelItem => item.Direccion)
                        </td>
                        <td id="tabladml2">
                            @Html.DisplayFor(modelItem => item.Tipo)
                        </td>
                        <td id="tabladml2">
                            @Html.DisplayFor(modelItem => item.Correo)
                        </td>
                        <td id="tabladml2">
                            @Html.DisplayFor(modelItem => item.Password)
                        </td>
                        <td id="tabladml2">
                            @Html.DisplayFor(modelItem => item.Empresa.Nombre)
                        </td>
                        <td id="tabladml2">
                            @Html.ActionLink("Editar", "Edit", new { id = item.CodigoTrabajor }) |
                            @Html.ActionLink("Detalles", "Details", new { id = item.CodigoTrabajor }) |
                            @Html.ActionLink("Eliminar", "Delete", new { id = item.CodigoTrabajor })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>

    <div id="pie">
        <div id="parte1">
            <h2>Siguenos</h2>
            <h3>
                Telefono: 310 444 77 98<br></br>
                Direccion: Los Cámbulos, Cra. 43 # 65 - 100, Manizales, Caldas <br></br>
                Correo: Viajaconmigo@gmail.com
            </h3>
        </div>
        <div id="parte2">
            <br></br>
            <br></br>
            <br></br>



            <ul id="panel2">
                <center>
                    <li><a href="https://www.facebook.com/viveladorada/"><span class="icon-facebook3"></span></a></li>
                    <li><a href="https://www.instagram.com/viveladorada/"><span class="icon-instagram2"></span></a></li>
                    <li><a href="https://twitter.com/viveladorada"><span class="icon-twitter2"></span></a></li>
                    <li><a href="https://www.youtube.com/channel/UCRFz2LGdzxmTL_j4jIO-UQQ/featured?view_as=subscriber"><span class="icon-youtube3"></span></a></li>
                </center>
            </ul>
            <br></br>
            <br></br>
            <br></br>
            <center><h4>Copyright</h4></center>

        </div>
        <div id="parte3">

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3974.336019112623!2d-75.5083866852363!3d5.049162696335131!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e47654245811437%3A0xb0ba16140f5c9cc6!2sTerminal%20de%20Transportes%20de%20Manizales!5e0!3m2!1ses!2sco!4v1574046755482!5m2!1ses!2sco" width="350" height="135" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
</div>
