﻿@model Viajaconmigo.Models.Vehiculo_Ruta

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Vehiculo_Ruta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdRutas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdRutas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vehiculo.Placa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vehiculo.Placa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rutas.Origen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rutas.Origen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rutas.Destino)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rutas.Destino)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cupos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cupos)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
