﻿@model IEnumerable<Viajaconmigo.Models.Vehiculo_Ruta>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdRutas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rutas.Origen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rutas.Destino)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vehiculo.Placa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cupos)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.IdRutas)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Rutas.Origen)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Rutas.Destino)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Vehiculo.Placa)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Cupos)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
    </td>
</tr>
}

</table>
