﻿@model Viajaconmigo.Models.Rutas

@{
    ViewBag.Title = "Edit";
}
<link href="~/Scripts/estilo.css" rel="stylesheet" />
<link href="~/Scripts/style.css" rel="stylesheet" />
<link href="~/Scripts/estiloEmpresas.css" rel="stylesheet" />
<div id="contenedordml">
<div id="cabecera">
    <img src="~/Images/Logo.jpg" width=100% height=100% />

</div>
<div id="cuerpo">

    <br></br>

    <center><h2>EDITAR RUTA</h2></center>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            
            <hr />

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.IdRutas)
            <div class="form-group">
                   @Html.LabelFor(model => model.Origen, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10" required>
                        @Html.EditorFor(model => model.Origen, new { htmlAttributes = new { @class = "form-control " } })
                        @Html.ValidationMessageFor(model => model.Origen, "", new { @class = "text-danger" })
                    </div>
            </div>
            
            <div class="form-group">
                @Html.LabelFor(model => model.Destino, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10" required>
                    @Html.EditorFor(model => model.Destino, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Destino, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Horas_Viaje, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10" required>
                    @Html.EditorFor(model => model.Horas_Viaje, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Horas_Viaje, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Hola_Salida, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10" required>
                    @Html.EditorFor(model => model.Hola_Salida, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Hola_Salida, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Precio, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10" required>
                    @Html.EditorFor(model => model.Precio, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Precio, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    
                            <input type="submit" value="Guardar" class="btn btn-default" />
                </div>
                </div>
        </div>
    }
    
    <div id="creates">
        
            <button>
                @Html.ActionLink("Regresar", "Index")
            </button>
        
    </div>
</div>
        
<div id="pie">
    <div id="parte1">
        <h2>Siguenos</h2>
        <h3>
            Telefono: 310 444 77 98<br></br>
            Direccion: Los Cámbulos, Cra. 43 # 65 - 100, Manizales, Caldas <br></br>
            Correo: Viajaconmigo@gmail.com
        </h3>
    </div>
    <div id="parte2">
        <br></br>
        <br></br>
        <br></br>



        <ul id="panel2">
            <center>
                <li><a href="https://www.facebook.com/viveladorada/"><span class="icon-facebook3"></span></a></li>
                <li><a href="https://www.instagram.com/viveladorada/"><span class="icon-instagram2"></span></a></li>
                <li><a href="https://twitter.com/viveladorada"><span class="icon-twitter2"></span></a></li>
                <li><a href="https://www.youtube.com/channel/UCRFz2LGdzxmTL_j4jIO-UQQ/featured?view_as=subscriber"><span class="icon-youtube3"></span></a></li>
            </center>
        </ul>
        <br></br>
        <br></br>
        <br></br>
        <center><h4>Copyright</h4></center>

    </div>
    <div id="parte3">

        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3974.336019112623!2d-75.5083866852363!3d5.049162696335131!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e47654245811437%3A0xb0ba16140f5c9cc6!2sTerminal%20de%20Transportes%20de%20Manizales!5e0!3m2!1ses!2sco!4v1574046755482!5m2!1ses!2sco" width="350" height="135" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>
</div>

