﻿@model Viajaconmigo.Models.Ventas

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ventas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cliente.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trabajadores.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trabajadores.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trabajadores1.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trabajadores1.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vehiculo_Ruta.Placa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vehiculo_Ruta.Placa)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_Venta }) |
    @Html.ActionLink("Back to List", "Index")
</p>
