﻿
@{
    ViewBag.Title = "Contranshuila";
}
<link href="~/Scripts/estilo.css" rel="stylesheet" />
<link href="~/Scripts/style.css" rel="stylesheet" />
<link href="~/Scripts/estiloEmpresas.css" rel="stylesheet" />
<div id="contenedor">
    <div id="cabecerahuila">
        <img src="~/Images/Logo.jpg" width=100% height=100% />
    </div>
    <div id="cuerpohuilaa">
        <div id="menu">
            <ul id="button">
                
                <li> @Html.ActionLink("Inicio", "Index", "Home") </li>
            </ul>
        </div>
        <br></br>
        
        <div id="cuerpito">
            <h2>
                Cotranshuila
            </h2>
            <div id="uno">
                <h4>

                    A donde puedes viajar con nosotros:

                    Estos algunos de los destinos mas importantes donde puedes viajar con nosotros <br>desde la terminal de transportes de manizales:

                    <ul>

                        <li>Bus Manizales a Chinchina</li>
                        <li>Bus Manizales a Palestina</li>
                        <li>Bus Manizales a Supia</li>
                        <li>Bus Manizales a Irra</li>

                    </ul>
                </h4>
            </div>
            <div id="dos">
                <img src="~/Images/mapa cotranshuila.jpg" width=60% height=0%>
            </div>

            <div id="tres">

                <ul id="compra">
                    <li> @Html.ActionLink("Compra tu ticket ahora", "Pago", "Home") </li>

                </ul>


                <h2>
                    Vehículos y Servicios de Flota ospina
                </h2>
                <center>
                    <table id="tablita">
                        <tr>
                            <td><img src="~/Images/bushuila1.jpg" width=50% height=60%></td>
                            <td><img src="~/Images/bushuila2.jpg" width=50% height=60%></td>
                        </tr>

                    </table>
                </center>

                <br>
                <center>
                    <h4>Puedes elegir el horario y la silla que más te guste y pagar con tarjeta de crédito, débito o efectivo a través de Efecty o Baloto.</h4>
                    <br>

                    <table>
                        <tr>
                            <td><img src="~/Images/efecty.png" width=100% height=100%></td>
                            <td><img src="~/Images/exito.png" width=100% height=100% /></td>
                            <td><img src="~/Images/mastercard.png" width=100% height=100%></td>
                            <td><img src="~/Images/paga_todo.png" width=100% height=100%></td>
                            <td><img src="~/Images/pse.png" width=100% height=100%></td>
                            <td><<img src="~/Images/sured.png" width=100% height=100% /></td>
                            <td><img src="~/Images/visa.png" width=100% height=100% /></td>
                            </a></td>

                        </tr>
                    </table>
                </center>
            </div>

        </div>
    </div>



<div id="pie">
    <div id="parte1">
        <h2>
            Siguenos
        </h2>
        <h3>
            Telefono: 310 444 77 98
            <br></br>
            Direccion: Los Cámbulos, Cra. 43 # 65 - 100, Manizales, Caldas
            <br></br>
            Correo: Viajaconmigo@gmail.com
        </h3>
    </div>
    <div id="parte2">
        <br></br>
        <br></br>
        <br></br>
        <ul id="panel2">
            <center>
                <li>
                    <a href="https://www.facebook.com/viveladorada/">
                        <span class="icon-facebook3"></span>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/viveladorada/">
                        <span class="icon-instagram2"></span>
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/viveladorada">
                        <span class="icon-twitter2"></span>
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/channel/UCRFz2LGdzxmTL_j4jIO-UQQ/featured?view_as=subscriber">
                        <span class="icon-youtube3"></span>
                    </a>
                </li>
            </center>
        </ul>
        <br></br>
        <br></br>
        <br></br>
        <center>
            <h4>
                Copyright
            </h4>
        </center>
    </div>
    <div id="parte3">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3974.336019112623!2d-75.5083866852363!3d5.049162696335131!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e47654245811437%3A0xb0ba16140f5c9cc6!2sTerminal%20de%20Transportes%20de%20Manizales!5e0!3m2!1ses!2sco!4v1574046755482!5m2!1ses!2sco" width="350" height="135" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>
    </div>

