﻿@model IEnumerable<Viajaconmigo.Models.Cliente>

@{
    ViewBag.Title = "Index";
}

<link href="~/Scripts/style.css" rel="stylesheet" />
<link href="~/Scripts/estiloEmpresas.css" rel="stylesheet" />
<link href="~/Scripts/estilo.css" rel="stylesheet" />
<div id="contenedorprincipal">
    <div id="cabecera">
        <img src="~/Images/Logo.jpg" width=100% height=100% />
    </div>
    <div id="cuerpoprincipal">
        <div id="menu">
            <ul id="button">
                <li> @Html.ActionLink("Login", "Logeo", "Home") </li>
                <li> @Html.ActionLink("Inicio", "Index", "Home") </li>

            </ul>
        </div>
        <br>
        <br>
        <br>
        <div id="consultedml">
            <br>

            <h1>gddggf</h1>
            <br>
            <form name="frdml">
                <center>
                    <table class="table">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Nombre)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Apellido)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Telefono)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Direccion)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Correo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Password)
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nombre)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Apellido)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Telefono)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Direccion)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Correo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Password)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.Cedula }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.Cedula }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.Cedula }) |
                                    @Html.ActionLink("Comprar", item.Apellido, "Home")
                                </td>
                            </tr>
                        }

                    </table>
        </div>

        <div id="empresas">
            <center>
                <table>
                    <tr>
                        <td><a><img src="~/Images/arauca.png" width=100% height=50% /></a></td>
                        <td><a href="#"><img src="~/Images/brasilia.png" width=100% height=50% /></a></td>
                        <td><a href="autolegal.html"><img src="~/Images/AutoLegal.png" width=100% height=50% /></a></td>
                        <td><a href="coopuertos.html"><img src="~/Images/coopuertos.png" width=100% height=50% /></a></td>
                        <td><a href="cafetero.html"><img src="~/Images/cafetero.png" width=100% height=50% /></a></td>
                        <td><a href="cotracol.html"><img src="~/Images/cotracol.png" width=100% height=50% /></a></td>
                        <td><a href="palmira.html"><img src="~/Images/palmira.png" width=100% height=50% /></a></td>
                        <td><a href="tolima.html"><img src="~/Images/rapidotolima.png" width=100% height=50% /></a></td>
                        <td><a href="flotaoccidental.html"><img src="~/Images/Flota Occidental.png" width=100% height=50% /></a></td>
                        <td><a href="flotaospina.html"><img src="~/Images/Flota Ospina.png" width=100% height=50% /></a></td>
                        <td><a href="transporteirra.html"><img src="~/Images/Transporte irra.png" width=100% height=50% /></a></td>
                        <td><a href="taxlaferia.html"><img src="~/Images/TaxLaFeria.png" width=100% height=50% /></a></td>



                    </tr>
                </table>
                <table>

                    <tr>
                        <td><a href="autolujo.html"><img src="~/Images/autolujo.png" width=100% height=50% /></a></td>
                        <td><a href="cootranshuila.html"><img src="~/Images/cootranshuila.png" width=100% height=50% /></a></td>
                        <td><a href="cootraman.html"><img src="~/Images/cootraman.png" width=100% height=50% /></a></td>
                        <td><a href="cootransnorte.html"><img src="~/Images/cootransnorte.png" width=100% height=50% /></a></td>
                        <td><a href="cootransrio.html"><img src="~/Images/cootransrio.png" width=100% height=50% /></a></td>
                        <td><a href="copetran.html"><img src="~/Images/copetran.png" width=100% height=50% /></a></td>
                        <td><a href="sideral.html"><img src="~/Images/sideral.png" width=100% height=50% /></a></td>
                        <td><a href="bolivariano.html"><img src="~/Images/bolivariano.png" width=100% height=50% /></a></td>
                        <td><a href="armenia.html"><img src="~/Images/armenia.png" width=100% height=50% /></a></td>
                        <td><a href="norcaldas.html"><img src="~/Images/norcaldas.png" width=100% height=50% /></a></td>
                        <td><a href="alianza.html"><img src="~/Images/alianza.png" width=100% height=50% /></a></td>
                        <td><a href="trejos.html"><img src="~/Images/trejos.png" width=100% height=50% /></a></td>
                    </tr>
                </table>
            </center>
        </div>

    </div>

        <div id="pie">
            <div id="parte1">
                <h2>
                    Siguenos
                </h2>
                <h3>
                    Telefono: 310 444 77 98
                    <br></br>
                    Direccion: Los Cámbulos, Cra. 43 # 65 - 100, Manizales, Caldas
                    <br></br>
                    Correo: Viajaconmigo@gmail.com
                </h3>
            </div>
            <div id="parte2">
                <br></br>
                <br></br>
                <br></br>
                <ul id="panel2">
                    <center>
                        <li>
                            <a href="https://www.facebook.com/viveladorada/">
                                <span class="icon-facebook3"></span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/viveladorada/">
                                <span class="icon-instagram2"></span>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/viveladorada">
                                <span class="icon-twitter2"></span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/channel/UCRFz2LGdzxmTL_j4jIO-UQQ/featured?view_as=subscriber">
                                <span class="icon-youtube3"></span>
                            </a>
                        </li>
                    </center>
                </ul>
                <br></br>
                <br></br>
                <br></br>
                <center>
                    <h4>
                        Copyright
                    </h4>
                </center>
            </div>
            <div id="parte3">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3974.336019112623!2d-75.5083866852363!3d5.049162696335131!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e47654245811437%3A0xb0ba16140f5c9cc6!2sTerminal%20de%20Transportes%20de%20Manizales!5e0!3m2!1ses!2sco!4v1574046755482!5m2!1ses!2sco" width="350" height="135" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>

