﻿@model Viajaconmigo.Models.Rutas

@{
    ViewBag.Title = "Home Page";
}

<link href="~/Scripts/style.css" rel="stylesheet" />
<link href="~/Scripts/estilo.css" rel="stylesheet" />

<div id="contenedorprincipal">
    <div id="cabecera">
        <img src="~/Images/Logo.jpg" width=100% height=100% />
    </div>
    <div id="cuerpoprincipal">
        <div id="menu">
            <ul id="button">
                <li> @Html.ActionLink("Login", "Logeo", "Home") </li>
            </ul>
        </div>
        <br></br>
        <div id="consulte">
            <br>
            <h1>
                Consulta tu viaje
            </h1>
            <br>

            @using (Html.BeginForm("SearchByDestino", "Rutas", FormMethod.Post))
            {

                <ul id="panel">
                    <div id="frconsultaa">
                        <form name="frconsulta">
                            <div class="form-group1">
                                @Html.LabelFor(model => model.Destino, "Destino", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownList("Destino", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Destino, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <br>
                            <br>
                            <center>
                                <div class="form-group3">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Consultar" class="btn btn-default" />
                                    </div>
                                </div>
                            </center>
                        </form>
                    </div>
                </ul>
            }

        </div>

        <div id="empresas">
            <center>
                <table>
                    <tr>
                        <td><a><img src="~/Images/arauca.png" width=100% height=50% /></a></td>
                        <td><a><img src="~/Images/brasilia.png" width=100% height=50% /></a></td>
                        <td><a><img src="~/Images/AutoLegal.png" width=100% height=50% /></a></td>
                        <td><a><img src="~/Images/coopuertos.png" width=100% height=50% /></a></td>
                        <td><a><img src="~/Images/cafetero.png" width=100% height=50% /></a></td>
                        <td><a><img src="~/Images/cotracol.png" width=100% height=50% /></a></td>
                        <td><a><img src="~/Images/palmira.png" width=100% height=50% /></a></td>
                        <td><a><img src="~/Images/rapidotolima.png" width=100% height=50% /></a></td>
                        <td><a><img src="~/Images/Flota Occidental.png" width=100% height=50% /></a></td>
                        <td><a><img src="~/Images/Flota Ospina.png" width=100% height=50% /></a></td>
                        <td><a><img src="~/Images/Transporte irra.png" width=100% height=50% /></a></td>
                        <td><a><img src="~/Images/TaxLaFeria.png" width=100% height=50% /></a></td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td><a><img src="~/Images/autolujo.png" width=100% height=50% /></a></td>
                        <td><a><img src="~/Images/cootranshuila.png" width=100% height=50% /></a></td>
                        <td><a><img src="~/Images/cootraman.png" width=100% height=50% /></a></td>
                        <td><a><img src="~/Images/cootransnorte.png" width=100% height=50% /></a></td>
                        <td><a><img src="~/Images/cootransrio.png" width=100% height=50% /></a></td>
                        <td><a><img src="~/Images/copetran.png" width=100% height=50% /></a></td>
                        <td><a><img src="~/Images/sideral.png" width=100% height=50% /></a></td>
                        <td><a><img src="~/Images/bolivariano.png" width=100% height=50% /></a></td>
                        <td><a><img src="~/Images/armenia.png" width=100% height=50% /></a></td>
                        <td><a><img src="~/Images/norcaldas.png" width=100% height=50% /></a></td>
                        <td><a><img src="~/Images/alianza.png" width=100% height=50% /></a></td>
                        <td><a><img src="~/Images/trejos.png" width=100% height=50% /></a></td>
                    </tr>
                </table>
            </center>
        </div>
    </div>
    <div id="pie">
        <div id="parte1">
            <h2>
                Siguenos
            </h2>
            <h3>
                Telefono: 310 444 77 98
                <br></br>
                Direccion: Los Cámbulos, Cra. 43 # 65 - 100, Manizales, Caldas
                <br></br>
                Correo: Viajaconmigo@gmail.com
            </h3>
        </div>
        <div id="parte2">
            <br></br>
            <br></br>
            <br></br>
            <ul id="panel2">
                <center>
                    <li>
                        <a href="https://www.facebook.com/viveladorada/">
                            <span class="icon-facebook3"></span>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/viveladorada/">
                            <span class="icon-instagram2"></span>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/viveladorada">
                            <span class="icon-twitter2"></span>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/channel/UCRFz2LGdzxmTL_j4jIO-UQQ/featured?view_as=subscriber">
                            <span class="icon-youtube3"></span>
                        </a>
                    </li>
                </center>
            </ul>
            <br></br>
            <br></br>
            <br></br>
            <center>
                <h4>
                    Copyright
                </h4>
            </center>
        </div>
        <div id="parte3">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3974.336019112623!2d-75.5083866852363!3d5.049162696335131!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e47654245811437%3A0xb0ba16140f5c9cc6!2sTerminal%20de%20Transportes%20de%20Manizales!5e0!3m2!1ses!2sco!4v1574046755482!5m2!1ses!2sco" width="350" height="135" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
</div>
