﻿
@{
    ViewBag.Title = "PagoAdministrativo";
}

<link href="~/Scripts/estilo.css" rel="stylesheet" />
<link href="~/Scripts/style.css" rel="stylesheet" />
<link href="~/Scripts/estiloEmpresas.css" rel="stylesheet" />
<div id="contenedorpagoadmin">
    <div id="cabecera">
        <img src="~/Images/Logo.jpg" width=100% height=100% />
    </div>
    <div id="cuerpopagoadmin">
        <div id="menu">
            <ul id="button">
                <li> @Html.ActionLink("Inicio", "Index", "Home") </li>
            </ul>
        </div>
        <br></br>

        <div id="consultepago">


            <div id="verdepago">

                <h1>PAGO AL USUARIO</h1>
                <br>
                <div id="ladoizquierdopagoadmin">
                    <form name="frrpago">
                        <p>Nombres:<input type="text5" name="txtNombre" placeholder="Digite sus nombres" required /></p>
                        <p>Apellidos:<input type="text19" name="txtNombre" placeholder="Digite sus apellidos" required /></p>
                        <p>Cedula:<input type="text20" name="txtNombre" placeholder="Digite su cedula" required /></p>


                </div>


                <div id="ladoderechopagoadmin">
                    <p>Destino:<input type="text12" name="txtNombre" placeholder="Digite Destino" required /></p>

                    <p>Precio:<input type="text13" name="txtNombre" placeholder="Digite Precio a Pagar" required /></p>

                    <p>Feha:<input id="fecha2" type="date" name="txtNombre" placeholder="Fecha de Viaje" /></p>


                </div>

                <br>
                <br>

                <center><button class="button1">TERMINAR COMPRA</button></center>


                </ul>

                </form>
            </div>
        </div>



    </div>
    <div id="pie">
        <div id="parte1">
            <h2>Siguenos</h2>
            <h3>
                Telefono: 310 444 77 98<br></br>
                Direccion: Los Cámbulos, Cra. 43 # 65 - 100, Manizales, Caldas <br></br>
                Correo: Viajaconmigo@gmail.com
            </h3>
        </div>
        <div id="parte2">
            <br></br>
            <br></br>
            <br></br>



            <ul id="panel2">
                <center>
                    <li><a href="https://www.facebook.com/viveladorada/"><span class="icon-facebook3"></span></a></li>
                    <li><a href="https://www.instagram.com/viveladorada/"><span class="icon-instagram2"></span></a></li>
                    <li><a href="https://twitter.com/viveladorada"><span class="icon-twitter2"></span></a></li>
                    <li><a href="https://www.youtube.com/channel/UCRFz2LGdzxmTL_j4jIO-UQQ/featured?view_as=subscriber"><span class="icon-youtube3"></span></a></li>
                </center>
            </ul>
            <br></br>
            <br></br>
            <br></br>
            <center><h4>Copyright</h4></center>

        </div>
        <div id="parte3">

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3974.336019112623!2d-75.5083866852363!3d5.049162696335131!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e47654245811437%3A0xb0ba16140f5c9cc6!2sTerminal%20de%20Transportes%20de%20Manizales!5e0!3m2!1ses!2sco!4v1574046755482!5m2!1ses!2sco" width="350" height="135" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
</div>

