

#uno{
margin-top: 10px;
float:left;
height: 20%;
width:40%;
margin-left: 10%;
}
#dos{
margin-top: 10px;
float: right;
height:20%;
width:40%;
margin-right: 5%;
margin-left: 5%;

}


#tres{
margin-top: 5%;
clear:both;
height:20%;
width:80%;
margin-right: 10%;
margin-left: 10%;
}

#contenedor{
width: 97%;
height:1200px;
border: 0px solid #ff0000;
background-color: #ffffff;
margin-left:2%;
margin-right:2%;
margin-top:0%;

    
}
#contenedorflo {
	width: 97%;
	height: 1200px;
	border: 0px solid #ff0000;
	background-color: #ffffff;
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 0%;
}


#contenedorh{
width: 97%;
height:1200px;
border: 0px solid #ff0000;
background-color: #ffffff;
margin-left:2%;
margin-right:2%;
margin-top:0%;

    
}

#cabecera {
	height: 20%;
	background-color: #D8E8F4;
}


#cuerpoarauca {
	height: 130%;
	background-image: url('../Images/FondoE.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin-left: 1%;
	margin-right: 1%;
	padding: 1%;
	
}
#cuerpopalmira {
	height: 130%;
	background-image: url('../Images/FondoE.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin-left: 1%;
	margin-right: 1%;
	padding: 1%;
}

#cuerpobrasilia {
	height: 100%;
	background-image: url('../Images/FondoE.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin-left: 1%;
	margin-right: 1%;
	padding: 1%;
}
#cuerpotolima {
	height: 107%;
	background-image: url('../Images/FondoE.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin-left: 1%;
	margin-right: 1%;
	padding: 1%;
}
#cuerpoirra {
	height: 80%;
	background-image: url('../Images/FondoE.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin-left: 1%;
	margin-right: 1%;
	padding: 1%;
}
#cuerpoautolujo {
	height: 96%;
	background-image: url('../Images/FondoE.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin-left: 1%;
	margin-right: 1%;
	padding: 1%;
}
#cuerpocafetero {
	height: 97%;
	background-image: url('../Images/FondoE.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin-left: 1%;
	margin-right: 1%;
	padding: 1%;
}
#cuerporio {
	height: 90%;
	background-image: url('../Images/FondoE.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin-left: 1%;
	margin-right: 1%;
	padding: 1%;
}
#cuerpooccidental {
	height: 90%;
	background-image: url('../Images/FondoE.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin-left: 1%;
	margin-right: 1%;
	padding: 1%;
}
#cuerpoirra {
	height: 75%;
	background-image: url('../Images/FondoE.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin-left: 1%;
	margin-right: 1%;
	padding: 1%;
}
#cuerpocopetran {
	height: 100%;
	background-image: url('../Images/FondoE.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin-left: 1%;
	margin-right: 1%;
	padding: 1%;
}
#cuerposideral {
	height: 10%;
	background-image: url('../Images/FondoE.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin-left: 1%;
	margin-right: 1%;
	padding: 1%;
}
#cuerponorte {
	height: 90%;
	background-image: url('../Images/FondoE.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin-left: 1%;
	margin-right: 1%;
	padding: 1%;
}
#cuerpohuila {
	height: 100%;
	background-image: url('../Images/FondoE.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin-left: 1%;
	margin-right: 1%;
	padding: 1%;
}
#cuerpocootraman {
	height: 90%;
	background-image: url('../Images/FondoE.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin-left: 1%;
	margin-right: 1%;
	padding: 1%;
}
#cuerpocoopuertos {
	height: 100%;
	background-image: url('../Images/FondoE.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin-left: 1%;
	margin-right: 1%;
	padding: 1%;
}


li{
	list-style:none
}



#cuerpoferia {
	height: 90%;
	background-image: url('../Images/FondoE.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin-left: 1%;
	margin-right: 1%;
	padding: 1%;
}
#cuerpotrejos {
	height: 105%;
	background-image: url('../Images/FondoE.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin-left: 1%;
	margin-right: 1%;
	padding: 1%;
}
#cuerpoarmenia {
	height: 110%;
	background-image: url('../Images/FondoE.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin-left: 1%;
	margin-right: 1%;
	padding: 1%;
}
#cuerpobolivariano {
	height: 130%;
	background-image: url('../Images/FondoE.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin-left: 1%;
	margin-right: 1%;
	padding: 1%;
}
#cuerpoospina {
	height: 92%;
	background-image: url('../Images/FondoE.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin-left: 1%;
	margin-right: 1%;
	padding: 1%;
}
#cuerpocaldas {
	height: 70%;
	background-image: url('../Images/FondoE.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	margin-left: 1%;
	margin-right: 1%;
	padding: 1%;
}
#cuerpoalianza {
	background-image: url('../Images/FondoE.jpg');
	height: 90%;
	background-size: 100%;
	margin-left: 1%;
	margin-right: 1%;
	padding: 1%;
}
#cuerpohuilaa {
	height: 83%;
	background-image: url('../Images/FondoE.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	margin-left: 1%;
	margin-right: 1%;
	padding: 1%;
}

#cuerpocotraco {
	height 100%;
	background-image: url('../Images/FondoE.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	margin-left: 1%;
	margin-right: 1%;
	padding: 1%;
}
#cuerpoautolegal {
	height: 98%;
	background-image: url('../Images/FondoE.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin-left: 1%;
	margin-right: 1%;
	padding: 1%;
}

#cuerpito{
	background-color:hsla(162, 45%, 47%,0.2);
	border-radius:30px;

}
#division1{
    width:40%;
	height:85%;
	float:left;
	margin-right:10%;
	margin-left:5%;
}
#division2{
    width:40%;
	height:85%;
	float:right;
	margin-right:5%;

	}
h1{

color: #fff; 
font-family:Arial; 
font-weight: 400; 
letter-spacing: -1px; 
line-height: 1; 
text-align: center; 
font-size: 50px;
}
.h2{
color: #fff; 
font-family:Arial; 
font-weight: 400; 
letter-spacing: -1px; 
line-height: 1; 
text-align: center; 
font-size: 30px;
}
h3 { 
color: #000; 
font-family:Arial; 
font-weight: 400; 
letter-spacing: -1px; 
line-height: 1; 
text-align: left; 
font-size: 15px;
}
.h4{
color: #fff; 
font-family:Arial; 
font-weight: 400; 
letter-spacing: -1px; 
line-height: 1; 
font-size: 20px;
}



#button{
padding: 0;
margin-botton:60px;
margin-top:0px;
}
#button li{
display: inline;
float: right;
padding: 10px 50px 10px;
color: #ffffff;
font-size: 25px;
}
#button li a {
font-family: Arial;
font-size: 22px;
text-decoration: none;
float: right;
padding: 10px;
color:#fff;
}
#button li a:hover{
background-color:#2586d7;
text-shadow: 1px 1px 1px #ffffff;
border-radius: 20px;
}


#panel{
	margin-bottom: 100px;

}
#panel li{
	list-style: none;
	padding: 0;
	margin: 20px 60px 0px 0px;
	background-color: #FFFFFF;
	width: 100px;

	
}
	#panel li a {
	font-family: Arial;
	font-size: 25px;
	text-decoration: none;
	float: left;
	padding: 10px 20px 20px 20px;
	color:#fff;
	width: 90%;
}
#panel li a:hover {
	background-color: #2586d7;
	padding: 20px 33px 15px 15px;
	color:#fff;
	text-shadow: 1px 1px 1px 1px #000000;
	border-radius: 15px;

}

#tablita{ 
margin-left: 10%;
margin-right: 10%;
padding-left: 10%;
padding-right: 10%;
}

#cafetero, td{ 
margin-left: 20%;


}



#pie{
height:15%;
background-color: #ffffff;

}

#parte1{
	width: 30%;
	height: 15%;
	float: left;
	margin-left: 2%;
}
#parte2{
	width: 30%;ccc6ff;
	height: 15%;
    margin-left: 30%;

}
#parte3{
	width: 30%;
	height: 15%;
	float:right;
	margin-left: 10%; 

}
.icon-facebook3:before {
  content: "\eb7a";
  color: #3b5998;
}
.icon-instagram2:before {
  content: "\ebb9";
  color: #e4405f;
}
.icon-twitter2:before {
  content: "\ec85";
  color: #1da1f2;
}
.icon-youtube3:before {
  content: "\ecb1";
  color: #f00;
}

#panel2{
	padding: 0%;
	margin-bottom: 0px;
	margin-top: -80px;
	margin-left: 110px;
}
#panel2 li{
	display: inline;
	float:left;
	padding: 0;
	margin: 0px 0px 0px 0px;
	background-color: #ffffff;
	width: 50px;
	
}
	#panel2 li a {
	font-family: Arial;
	font-size: 35px;
	text-decoration: none;
	float: left;
	padding: 0px 0px 0px 0px;
	background-color: #ffffff;
	color:#fff;
	width: 30%;
}



#compra li a {
font-family: Arial;
font-size: 30px;
text-decoration: none;
padding: 10px;
color:#fff;
margin-botton:60px;
margin-top:0px;
background-color:#2586d7;
text-shadow: 1px 1px 1px #ffffff;
border-radius: 20px;
}
#colortabla{
	background-color: #ffffff;
}