﻿body{
	background-color: #ffffff;

}

#contenedor {
    width: 100%;
    height: 1200px;
    border: 0px solid #ff0000;
    background-color: #ffffff;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 0%;
}
#contenedorvehic {
    width: 100%;
    height: 1600px;
    border: 0px solid #ff0000;
    background-color: #ffffff;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 0%;
}
#contenedorprincipal {
    width: 100%;
    height: 1200px;
    border: 0px solid #ff0000;
    background-color: #ffffff;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 0%;
}


#contenedorpagoadmin {
    width: 96%;
    height: 1200px;
    border: 0px solid #ff0000;
    background-color: #ffffff;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 0%;
}
#contenedorlogeo {
    width: 96%;
    height: 1000px;
    border: 0px solid #ff0000;
    background-color: #ffffff;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 0%;
}
#contenedordml{
width: 96%;
height: 1200px;
border: 0px solid #ff0000;
background-color: #ffffff;
margin-left:2%;
margin-right:2%;
margin-top:0%;

    
}
#cabecera{
height: 20%;
background-color: #FFFFFF;

}
#cabeceradml {
    height: 200px;
    background-color: #FFFFFF;
  
}
#cuerpo {
    height: 69%;
    background-image: url('../Images/Fondo.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left: 1%;
    margin-right: 1%;
}
#cuerpovehicu {
    height: 1400px;
    background-image: url('../Images/Fondo.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left: 1%;
    margin-right: 1%;
}


#cuerpoprincipal {
    height: 69%;
    background-image: url('../Images/Fondo.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left: 1%;
    margin-right: 1%;
}
#cuerpodml {
    height: 69%;
    background-image: url('../Images/Fondo.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left: 1%;
    margin-right: 1%;
}
#cuerpologeo {
    height: 60%;
    background-image: url('../Images/Fondo.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left: 1%;
    margin-right: 1%;
}

#cuerpopago {
    width: 98%;
    height: 65%;
    background-image: url('../Images/Fondo.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left: 1%;
    margin-right: 1%;
}
#cuerpopagoadmin {
    width: 98%;
    height: 62%;
    background-image: url('../Images/Fondo.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left: 1%;
    margin-right: 1%;
}
#cuerpologinUsuario {
    height: 84%;
    background-image: url('../Images/Fondo.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left: 1%;
    margin-right: 1%;
}
#cuerpologinAdministrador {
    height: 84%;
    background-image: url('../Images/Fondo.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left: 1%;
    margin-right: 1%;
}
#cuerpoConsulta {
    height: 100%;
    background-image: url('../Images/Fondo.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left: 1%;
    margin-right: 1%;
}
#cuerporegistro {
    height: 90%;
    background-image: url('../Images/Fondo.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left: 1%;
    margin-right: 1%;
}
#registrarse{
width:85%;
height:93%;
background-color: hsla(500, 100%, 45%, 0.3);
margin-left:7.5%;
margin-right:7.5%;
margin-top: -6%;
margin-bottom: 5%;
border-radius:30px;
}
#logeo{
width:85%;
height:80%;
background-color: hsla(500, 100%, 45%, 0.3);
margin-left:7.5%;
margin-right:7.5%;
margin-top: -4%;
margin-bottom: 5%;
border-radius:30px;
}
#consultelogeo{
  width:80%;
  height:45%;
  background-color: hsla(200, 100%, 25%, 0.3);
  margin-top: 10px;
  margin-right:10%;
  margin-left: 10%;
  border-radius:30px;
}
#consultedml{
	width:90%;
	height:65%;
	background-color: hsla(200, 100%, 25%, 0.3);
	margin-top: 10px;
	margin-right:5%;
	margin-left: 5%;
	border-radius:30px;
}
#consultevehi {
    width: 90%;
    height: 85%;
    background-color: hsla(200, 100%, 25%, 0.3);
    margin-top: 10px;
    margin-right: 5%;
    margin-left: 5%;
    border-radius: 30px;
}
#consulteconductores {
    width: 90%;
    height: 70%;
    background-color: hsla(200, 100%, 25%, 0.3);
    margin-top: 10px;
    margin-right: 5%;
    margin-left: 5%;
    border-radius: 30px;
}

#consulteregistro{
	width:85%;
	height:85%;
	
	margin-top: 10px;
	margin-right:10%;
	margin-left: 15%;
	border-radius:30px;
	
}

#consulte{
	width:80%;
	height:34%;
	background-color: hsla(200, 100%, 25%, 0.3);
	margin-top: 30px;
	margin-right:10%;
	margin-left: 10%;
	border-radius:30px;
}
#consulte1{
	width:80%;
	height:90%;
	background-color: hsla(200, 100%, 25%, 0.3);
	margin-top: 30px;
	margin-right:10%;
	margin-left: 10%;
	border-radius:30px;	
}
#consultelogin{
	width:40%;
	height:40%;
	background-color: hsla(200, 100%, 25%, 0.3);
	margin-top: 30px;
	margin-right:30%;
	margin-left:30%;
	border-radius:30px;
}
#consultelogins {
    width: 60%;
    height: 105%;
    background-color: hsla(200, 100%, 25%, 0.3);
    margin-top: 10px;
    margin-right: 10%;
    margin-left: 10%;
    border-radius: 30px;
}

h1 { 
color: #fff; 
font-family:Montserrat; 
font-weight: 400; 
letter-spacing: -1px; 
line-height: 1; 
text-align: center; 
font-size: 50px;
}
.h2 {
    color: #000;
    font-family: Montserrat;
    font-weight: 400;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
    font-size: 20px;
}
h3 { 
color: #000; 
font-family:Montserrat; 
font-weight: 400; 
letter-spacing: -1px; 
line-height: 1; 
text-align: left; 
font-size: 15px;
}
.h4 {
    color: #000;
    font-family: Montserrat;
    font-weight: 400;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
    font-size: 20px;
}
.destinos {
    padding: 10px;
    height: 45px;
    margin-left: 10%;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #ffffff;
    width: 25%;
   
}
#creates {
    margin-left: 1%;
    color: #ffffff;
    font-family: Montserrat;
    font-weight: 400;
    letter-spacing: -1px;
    line-height: 1;
    text-align: left;
    font-size: 20px;
}
input[type=submit] {
    background: #2586d7;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #75C3DE;
    color: 000;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    color: #333333;
    border-width: 3px;
    border-style: solid;
    margin-left: -16%;
}
input[type=text4] {
  width: 36%;
  padding: 10px 15px;
  margin-left: 1%;
  margin-right: 1%;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #ffffff;
  color: 000;
}
input[type=text2] {
  width: 36%;
  padding: 10px 15px;
  margin-left: 1%;
  margin-right: 1%;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #ffffff;
  color: 000;
  }
  input[type=text3] {
  width: 36%;
  padding: 10px 15px;
  margin-left: 2%;
  margin-right: 0%;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #ffffff;
  color: 000;
}
input[type=passworda] {
  width: 36%;
  padding: 10px 15px;
  margin-left: 1%;
  margin-right: 3%;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #ffffff;
  color: 000;
}
input[type=password2] {
  width: 36%;
  padding: 10px 15px;
  margin-left: 1%;
  margin-right: 9%;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #ffffff;
  color: 000;
}
.form-group {
    padding: 0px 300px;
    margin-left: 150px;
}
.form-group1 {
    padding: 20px 160px;
    margin-left: 100px;
}
.form-group2 {
    padding: 20px 50px;
    margin-left: 100px;
}
.form-group3 {
    padding: 10px 40px;
    margin-left: 30px;
}
.form-group4 {
    padding: 10px 40px;
    margin-left: -100px;
}

input[type=text45] {
    width: 20%;
    padding: 12px 20px;
    margin-left: 3%;
    margin-right: 5%;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #ffffff;
    color: 000;
}
input[type=text1] {
    width: 50%;
    padding: 16px 20px;
    margin-left: 3%;
    margin-right: 5%;
    box-sizing: border-box;
    border-radius: 13px;
    background-color: #ffffff;
    color: 000;
}
input[type=password] {
  width: 50%;
  padding: 16px 20px;
  margin-left:3%;
  margin-right: 5%;
  box-sizing: border-box;
  border-radius: 13px;
  background-color: #ffffff;
  color: 000;
}
#frconsultaa{
    margin-left: -12%;
  
}
input[type=date] {
  width: 20%;
  padding: 12px 20px;
  margin-left: -2%;
  margin-right: 5%;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #ffffff;
  color: 000;
}

  input[type=text5] {
  padding: 10px;
  margin-left: 2%;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #ffffff;
  color: 000;
}

  input[type=text6] {
  padding: 10px;
  margin-left: 2%;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #ffffff;
  color: 000;
}

  input[type=text7] {
  padding: 10px;
  margin-left: 3.5%;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #ffffff;
  color: 000;
}
  input[type=text8] {
  padding: 10px;
  margin-left: 10%;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #ffffff;
  color: 000;
}

  input[type=text9] {
  padding: 10px;
  margin-left: 10%;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #ffffff;
  color: 000;
}
  input[type=text10] {
  padding: 10px;
  margin-left: 2%;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #ffffff;
  color: 000;
}
 input[type=text11] {
  padding: 10px;
  margin-left: 4%;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #ffffff;
  color: 000;
}
 input[type=text12] {
  padding: 10px;
  margin-left: 2.2%;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #ffffff;
  color: 000;
}
 input[type=text13] {
  padding: 10px;
  margin-left: 3.7%;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #ffffff;
  color: 000;
}
input[type=text14] {
  width: 25%;
  padding: 10px 15px;
  margin-left: 2%;
  margin-right: 0%;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #ffffff;
  color: 000;
  }
  input[type=text15] {
  width: 25%;
  padding: 10px 10px;
  margin-left: 2%;
  margin-right: 0%;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #ffffff;
  color: 000;
  }
  input[type=text16] {
  width: 25%;
  padding: 10px 10px;
  margin-left: 2%;
  margin-right: 0%;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #ffffff;
  color: 000;
  }
  input[type=text17] {
  width: 25%;
  padding: 10px 10px;
  margin-left: 2%;
  margin-right: 0%;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #ffffff;
  color: 000;
  }
  input[type=text18] {
  width: 25%;
  padding: 10px 10px;
  margin-left: 2%;
  margin-right: 0%;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #ffffff;
  color: 000;
  }
input[type=text19] {
    padding: 10px;
    margin-left: 2%;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #ffffff;
    color: 000;

}
input[type=text20] {
    padding: 10px;
    margin-left: 4.5%;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #ffffff;
    color: 000;
}
.button5{
width: 30%;
height: 12%;
text-decoration:none;
font-weight: 600;
font-size: 22px;
color:#333333;
background-color:#75C3DE;
border-width: 3px;
border-style: solid;
border-radius:10px;
margin-left: 30px;
margin-right: 30px;
padding-right: 20px;
padding-left: 20px;
}

.button15{
width: 40%;
height: 12%;
text-decoration:none;
font-weight: 600;
font-size: 25px;
color:#333333;
padding-right: 20px;
padding-left: 20px;
}
#button16{
width: 8%;
height: 6%;
text-decoration:none;
font-weight: 600;
font-size: 16px;
color:#333333;
background-color:#75C3DE;
border-width: 3px;
border-style: solid;
border-radius:10px;
margin-left: 30px;
margin-right: 30px;
padding-right: 20px;
padding-left: 10px;
}
#button17{
width: 8%;
height: 12%;
text-decoration:none;
font-weight: 600;
font-size: 16px;
color:#333333;
background-color:#75C3DE;
border-width: 3px;
border-style: solid;
border-radius:10px;
margin-left: 42px;
margin-right: 30px;
padding-right: 20px;
padding-left: 8px;
}
#button18{
width: 8%;
height: 12%;
text-decoration:none;
font-weight: 600;
font-size: 16px;
color:#333333;
background-color:#75C3DE;
border-width: 3px;
border-style: solid;
border-radius:10px;
margin-left: -20px;
margin-right: 50px;
padding-right: 20px;
padding-left: 5px;
}
#button19{
width: 9%;
height: 12%;
text-decoration:none;
font-weight: 600;
font-size: 16px;
color:#333333;
background-color:#75C3DE;
border-width: 3px;
border-style: solid;
border-radius:10px;
margin-left: -40px;
margin-right: 30px;
padding-right: 20px;
padding-left: 5px;
}
 
#button{
padding: 0;
margin-botton:60px;
margin-top:0px;
}
#button li{
display: inline;
float: right;
padding: 20px 20px 20px 20px;
color: #ffffff;
font-size: 25px;
}
#button li a {
font-family: Arial;
font-size: 22px;
text-decoration: none;
float: right;
padding: 10px;
color:#fff;
}
#button li a:hover{
background-color:#2586d7;
text-shadow: 1px 1px 1px #ffffff;
border-radius: 10px;

}


#panel{
	margin-bottom: 100px;

}
#panel li{
	list-style: none;
	background-color: #FFFFFF;
	width: 100px;

	
}
    #panel li a {
        font-family: sans-serif;
        font-size: 25px;
        text-decoration: none;
        padding: 10px 10px 10px 10px;
        float: left;
        color: #fff;
        width: 150%;
    }
        #panel li a:hover {
            background-color: #2586d7;
            padding: 10px 10px 10px 10px;
            color: #fff;
            text-shadow: 1px 1px 1px 1px #000000;
            border-radius: 15px;
        }


table { 

margin-bottom:-3%; 
margin-right: 3%;
margin-left: 3%;
margin-top: -0.3%;
}


#pie{
height:15%;
background-color: #ffffff;

}


#parte1{
	width: 30%;
	height: 15%;
	float: left;
	margin-left: 2%;
}
#parte2{
	width: 30%;ccc6ff;
	height: 15%;
    margin-left: 30%;

}
#parte3{
	width: 30%;
	height: 15%;
	float:right;
	margin-left: 10%; 

}

.icon-facebook3:before {
  content: "\eb7a";
  color: #3b5998;
}
.icon-instagram2:before {
  content: "\ebb9";
  color: #e4405f;
}
.icon-twitter2:before {
  content: "\ec85";
  color: #1da1f2;
}
.icon-youtube3:before {
  content: "\ecb1";
  color: #f00;
}

#panel2{
	padding: 0%;
	margin-bottom: 0px;
	margin-top: -80px;
	margin-left: 110px;
}
#panel2 li{
	display: inline;
	float:left;
	padding: 0;
	margin: 0px 0px 0px 0px;
	background-color: #ffffff;
	width: 50px;
	
}
	#panel2 li a {
	font-family: sans-serif;
	font-size: 35px;
	text-decoration: none;
	float: left;
	padding: 0px 0px 0px 0px;
	background-color: #ffffff;
	color:#fff;
	width: 30%;
}
table#mitabla {
    border-collapse: collapse;
    border: 1px solid #CCC;
    font-size: 15px;
    width: 20%;
}
 
table#mitabla th {
    font-weight: bold;
    background-color: #2586d7;
    padding:8px 50px;
}
 
table#mitabla tbody tr:hover td {
    background-color: #F3F3F3;
}
 
table#mitabla td {
    padding: 5px 10px;
}
#diseño{	
width:80%;
	height:87%;
	background-color: hsla(500, 100%, 45%, 0.3);
	margin-top: 30px;
	margin-right:10%;
	margin-left: 10%;
	border-radius:30px;
}
.button2{
width: 60%;
height: 12%;
text-decoration:none;
font-weight: 600;
font-size: 19px;
color:#333333;
background-color:#75C3DE;
border-width: 3px;
border-style: solid;
border-radius:10px;
padding: 10px 10px 10px 10px;
}
.button1{
width: 30%;
height: 12%;
text-decoration:none;
font-weight: 600;
font-size: 22px;
color:#333333;
background-color:#75C3DE;
border-width: 3px;
border-style: solid;
border-radius:10px;
}

#ladoizquierdo{
margin-left: 10%;
width: 45%;


}

#ladoderecho{
padding-top: -25%;
width: 20%;
margin-left: 70%;


}
#ladoizquierdopagoadmin{
  width: 45%;
margin-left: 24%;

}
#ladoderechopagoadmin{
  width: 35%;
margin-left: 51%;
margin-top: -15.1%; 

}
#mediosdepago{
  margin-left: 0%;
}
#fecha1{
  width: 45%;
  padding: 12px;
  margin-left:5%;
  margin-right: 5%;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #ffffff;
  color: 000;
}
#fecha2{
  width: 45%;
  padding: 12px;
  margin-left:6%;
  margin-right: 5%;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #ffffff;
  color: 000;
}


#exito{
  margin-left: 13%;
}
#Pse {
    margin-left: -14%;
}
#mastercard{
  margin-left: -35%;
}
#visa{
  margin-left: -20%;
}
#tabladml { 
	width: 90%;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;    
    margin-left: 5%;
    text-align: left;    
    border-collapse: collapse; 
}

#tabladml1 {     
	margin-left: 40%;
	font-size: 13px;
	font-weight: normal;
	padding: 8px;
	background: #b9c9fe;
    border-top: 4px solid #aabcfe;    
    border-bottom: 1px solid #fff; 
    color: #039; 
}

#tabladml2 {    
	padding: 8px;    
 	background: #e8edff;     
 	border-bottom: 1px solid #fff;
    color: #669;    
    border-top: 1px solid transparent; 
}

#tabladml1:hover #tabladml2 { 
	background: #d0dafd; 
	color: #339; 

}
#button50 {
    padding: 2%;
    
}

#button50 li {
    display: inline;

}
    #button50 li a {
        width: 80%;
        font-family: Arial;
        font-size: 22px;
        text-decoration: none;
        float: center;
        padding: 10px 0px 10px 0px;
        background-color: #2586d7;
        color: #fff;
       
    }
#button50 li a:hover {
    background-color: #2586d7;
    margin-top: -15px;
    padding-bottom: 10px;
    ]
}